body
{
	background-image:url(../img/field.jpg);
}

a
{
	color: white;
}

a:hover
{
	color: red;
}

.navigation {
	width: 886px;
	height: 84px;
	background: url('../img/menu.png') no-repeat;
	margin: 0 auto;
}

.navigation ul {
	list-style: none;
	padding-top: 3px;
	padding-left: 90px;
}

.navigation ul li a {
	float: left;
	line-height: 40px;
	color: white;
	text-decoration: none;
	padding-left: 100px;
	padding-right: 30px;
	text-transform: uppercase;
	font-size: 15px;
}

.navigation_admin {
	width: 886px;
	height: 84px;
	background: url('../img/menu.png') no-repeat;
	margin: 0 auto;
}

.navigation_admin ul {
	list-style: none;
	padding-top: 3px;
	padding-left: 125px;
}

.navigation_admin ul li a {
	float: left;
	line-height: 40px;
	color: white;
	text-decoration: none;
	padding-left: 50px;
	padding-right: 30px;
	text-transform: uppercase;
	font-size: 15px;
}

.index
{
	border-style: solid;
	
	padding: 10%;
	
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	
	
	text-align: center;
	background-color: black;
	opacity: 0.8;
}

.index a
{
	font-size: 50px;
	text-decoration: none;
}

.module
{
	text-align: center;
	
	color: white;
	background-color: black;
	
	padding: 10%;
	
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	
	opacity: 0.8;
}

.textelogin
{
	color: white;
	opacity: 1;
}

.titreqcm
{
	color: white;
	font-size: 50px;
	font-weight: bold;
}

.class1
{
	background-image: url(../img/football.jpg);
	background-repeat: repeat;
	background-attachment : fixed;
}

.class2
{
	background-image: url(../img/foot_us.jpg);
	background-repeat: repeat;
	background-attachment : fixed;
}

div.text
{
	text-align: center;
	
	background-color: white;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 25%;
	margin-right: 25%;
	
	padding-right: 25px;
	padding-left: 25px;
	
	opacity: 0.65;
	
}

p.question
{
	font-weight: bold;
}

.reponse
{
	text-align: center;
	color: blue;
}

.error
{
	color: red;
	font-size: 20px;
}
